$flash-font-color: white;
$flash-alert-color: #f35500;
$flash-notice-color: #38aef0;

$chat-side-font-color: white;
$chat-side-color: #fafafa;
$chat-side-header-background-color: #253141;
$chat-side-groups-background-color: #2f3e51;

$chat-main-message-date-font-color: #999999;
$chat-main-message-text-font-color: #434a54;
$chat-main-messages-background-color: #fafafa;

$form-input-box-text-font-color: #434a54;
$form-background-color: #dddddd;
$form-submit-btn-background-color: #38a3f0;
